:root {
	--background-default: #111;
	--background-lighter: #1a1a1a;
	--background-light: #222;
	--background-highlight: #333;

	--button-color: #252525;
	--button-border-color: #333333;
	--button-selected-color: #050505;
	--button-hover-color: #414141;
	--button-disabled-color: var(--background-lighter);

	--link-color: #68D;
	--link-hover-color: #8af;
}
