.personal-log-dialog .log-entry-save {
    text-align: right;
}

.personal-log-dialog dl {
    list-style-type: decimal;
}
.personal-log-dialog dt {
    font-weight: normal;
    list-style-type: decimal;
}

.personal-log-dialog dt .log-entry-created {
    font-weight: bold;
}

.personal-log-dialog dt .log-entry-edited {
    font-style: italic;
    margin-left: 0.5rem;
}

.personal-log-dialog dt .choices-strip {
    margin-left: 1.5rem;
}

.personal-log-dialog dt::after {
    content: "";
}

.personal-log-dialog dd {
    margin-left: 2rem;
}

.personal-log-dialog #log-entry-editor {
    width: 95%;
    height: 10rem;
}